/**
 Theme SG Like
 */
:where([data-theme='sg']) {
  color-scheme: light;

  --gymx-color-accent: #009ee3;

  --sg-color-link: #282372;
  --sg-color-primary: #009ee3;
  --sg-color-on-primary: #fff;
  --sg-font-family: system-ui;

  --button-color: var(--sg-color-link);
  --button-color-background: var(--sg-color-on-primary);
  --button-color-border: var(--sg-color-primary);

  --button-color-hover: var(--sg-color-on-primary);
  --button-color-background-hover: var(--sg-color-primary);
  --button-color-border-hover: var(--sg-color-primary);

  --button-color-focused: var(--sg-color-link);
  --button-color-background-focused: var(--sg-color-on-primary);
  --button-color-border-focused: var(--sg-color-link);

  --button-color-disabled: #222;
  --button-color-background-disabled: #efefef;
  --button-color-border-disabled: var(--button-color-disabled);

  --gymx-font-family-default: var(--sg-font-family);

  --link-color: var(--sg-color-primary);
  --link-color-hover: var(--sg-color-link);

  /*
  --button-color-background-hover: var(--sg-color-primary);
  --button-color-background-focused: var(--button-color-background);
  --button-color-background-disabled: oklch(from var(--button-color-background) l calc(c * 0.1) h);
   */

  /*
  --input-color-border: red;
  --input-color-border-hover: green;
   */
}
