table {
  --gymx-table-font-size: var(--gymx-font-size-default, 1rem);
  --gymx-table-font-weight: var(--gymx-font-weight-regular, 400);
  --gymx-table-font-lineheight: var(--gymx-font-lineheight-1, 1.5);
  --gymx-table-font-letterspacing: var(--gymx-font-letterspacing-default, 0em);
  --gymx-table-font-family: var(--gymx-font-family-default, sans-serif);
  --gymx-table-color: var(--gymx-color-text, inherit);
}


:root {
  --gymx-table-border-color: var(--gymx-color-gray-5);
  --gymx-table-header-bg-color: red;
  --gymx-table-header-text-color: white;
  --gymx-table-row-bg-color: #fff;
  --gymx-table-row-hover-bg-color: blue;
  --gymx-table-striped-row-bg-color: white;
  --gymx-table-text-color: var(--gymx-color-text);;
}

.table {
  width: 100%;
  border-collapse: collapse;
  color: var(--gymx-table-text-color);
  border: 1px solid var(--gymx-table-border-color);
}

table th, table td {
  border: 1px solid var(--gymx-table-border-color);
}

table th {
  background-color: var(--gymx-table-header-bg-color);
  color: var(--gymx-table-header-text-color);
  text-align: left;
}

table tr {
  background-color: var(--gymx-table-row-bg-color);
  transition: background-color 20ms ease-in-out;
}

table tr:hover {
  background-color: var(--gymx-table-row-hover-bg-color);
}

.table--striped tr:nth-child(odd) {
  background-color: var(--gymx-table-striped-row-bg-color);
}
