:where(html) {
  /* black */
  --gymx-color-black-1: color(display-p3 0 0 0 / 0.05);
  --gymx-color-black-2: color(display-p3 0 0 0 / 0.1);
  --gymx-color-black-3: color(display-p3 0 0 0 / 0.15);
  --gymx-color-black-4: color(display-p3 0 0 0 / 0.2);
  --gymx-color-black-5: color(display-p3 0 0 0 / 0.3);
  --gymx-color-black-6: color(display-p3 0 0 0 / 0.4);
  --gymx-color-black-7: color(display-p3 0 0 0 / 0.5);
  --gymx-color-black-8: color(display-p3 0 0 0 / 0.6);
  --gymx-color-black-9: color(display-p3 0 0 0 / 0.7);
  --gymx-color-black-10: color(display-p3 0 0 0 / 0.8);
  --gymx-color-black-11: color(display-p3 0 0 0 / 0.9);
  --gymx-color-black-12: color(display-p3 0 0 0 / 0.96);

  /* White */
  --gymx-color-white-1: color(display-p3 1 1 1 / 0.05);
  --gymx-color-white-2: color(display-p3 1 1 1 / 0.1);
  --gymx-color-white-3: color(display-p3 1 1 1 / 0.15);
  --gymx-color-white-4: color(display-p3 1 1 1 / 0.2);
  --gymx-color-white-5: color(display-p3 1 1 1 / 0.3);
  --gymx-color-white-6: color(display-p3 1 1 1 / 0.4);
  --gymx-color-white-7: color(display-p3 1 1 1 / 0.5);
  --gymx-color-white-8: color(display-p3 1 1 1 / 0.6);
  --gymx-color-white-9: color(display-p3 1 1 1 / 0.7);
  --gymx-color-white-10: color(display-p3 1 1 1 / 0.8);
  --gymx-color-white-11: color(display-p3 1 1 1 / 0.9);
  /* --gymx-color-white-12: color-mix(in srgb, var(--gymx-color-white), var(--_gymx-color-white-invert) calc(100% - (100% / 12) * 11)); */
  --gymx-color-white-12: color(display-p3 1 1 1 / 0.96);

  /* Gray */
  --gymx-color-gray: #222;
  --_gymx-color-gray-invert: var(--gymx-color-gray-invert, light-dark(#fefefe, #fefefe));

  --gymx-color-gray-1: light-dark(
    color-mix(
      in srgb,
      var(--gymx-color-gray),
      var(--_gymx-color-gray-invert) calc(100% - (100% / 12) * 0.5)
    ),
    color-mix(
      in srgb,
      var(--gymx-color-gray),
      var(--_gymx-color-gray-invert) calc((100% / 12) * 0.5)
    )
  );
  --gymx-color-gray-2: light-dark(
    color-mix(
      in srgb,
      var(--gymx-color-gray),
      var(--_gymx-color-gray-invert) calc(100% - (100% / 12) * 1)
    ),
    color-mix(in srgb, var(--gymx-color-gray), var(--_gymx-color-gray-invert) calc((100% / 12) * 1))
  );
  --gymx-color-gray-3: light-dark(
    color-mix(
      in srgb,
      var(--gymx-color-gray),
      var(--_gymx-color-gray-invert) calc(100% - (100% / 12) * 2)
    ),
    color-mix(in srgb, var(--gymx-color-gray), var(--_gymx-color-gray-invert) calc((100% / 12) * 2))
  );
  --gymx-color-gray-4: light-dark(
    color-mix(
      in srgb,
      var(--gymx-color-gray),
      var(--_gymx-color-gray-invert) calc(100% - (100% / 12) * 3)
    ),
    color-mix(in srgb, var(--gymx-color-gray), var(--_gymx-color-gray-invert) calc((100% / 12) * 3))
  );
  --gymx-color-gray-5: light-dark(
    color-mix(
      in srgb,
      var(--gymx-color-gray),
      var(--_gymx-color-gray-invert) calc(100% - (100% / 12) * 4)
    ),
    color-mix(in srgb, var(--gymx-color-gray), var(--_gymx-color-gray-invert) calc((100% / 12) * 4))
  );
  --gymx-color-gray-6: light-dark(
    color-mix(
      in srgb,
      var(--gymx-color-gray),
      var(--_gymx-color-gray-invert) calc(100% - (100% / 12) * 5)
    ),
    color-mix(in srgb, var(--gymx-color-gray), var(--_gymx-color-gray-invert) calc((100% / 12) * 5))
  );
  --gymx-color-gray-7: light-dark(
    color-mix(
      in srgb,
      var(--gymx-color-gray),
      var(--_gymx-color-gray-invert) calc(100% - (100% / 12) * 6)
    ),
    color-mix(in srgb, var(--gymx-color-gray), var(--_gymx-color-gray-invert) calc((100% / 12) * 6))
  );
  --gymx-color-gray-8: light-dark(
    color-mix(
      in srgb,
      var(--gymx-color-gray),
      var(--_gymx-color-gray-invert) calc(100% - (100% / 12) * 7)
    ),
    color-mix(in srgb, var(--gymx-color-gray), var(--_gymx-color-gray-invert) calc((100% / 12) * 7))
  );
  --gymx-color-gray-9: light-dark(
    color-mix(
      in srgb,
      var(--gymx-color-gray),
      var(--_gymx-color-gray-invert) calc(100% - (100% / 12) * 8)
    ),
    color-mix(in srgb, var(--gymx-color-gray), var(--_gymx-color-gray-invert) calc((100% / 12) * 8))
  );
  --gymx-color-gray-10: light-dark(
    color-mix(
      in srgb,
      var(--gymx-color-gray),
      var(--_gymx-color-gray-invert) calc(100% - (100% / 12) * 9)
    ),
    color-mix(in srgb, var(--gymx-color-gray), var(--_gymx-color-gray-invert) calc((100% / 12) * 9))
  );
  --gymx-color-gray-11: light-dark(
    color-mix(
      in srgb,
      var(--gymx-color-gray),
      var(--_gymx-color-gray-invert) calc(100% - (100% / 12) * 10.5)
    ),
    color-mix(
      in srgb,
      var(--gymx-color-gray),
      var(--_gymx-color-gray-invert) calc((100% / 12) * 10.5)
    )
  );
  --gymx-color-gray-12: light-dark(
    color-mix(
      in srgb,
      var(--gymx-color-gray),
      var(--_gymx-color-gray-invert) calc(100% - (100% / 12) * 11)
    ),
    color-mix(
      in srgb,
      var(--gymx-color-gray),
      var(--_gymx-color-gray-invert) calc((100% / 12) * 11)
    )
  );
}

/*
Accent Color

# Step 1+2 Hintergründe

# Step 3-5 Komponenten Hintergründe.
Zum Beispiel 3 default, 4 hover und 5 active
Möglichkeit step 11 + 12 als Contrast Text Farbe zu verwenden

# Step 6-8 Borders

# Step 9-10 Hintergründe und Highlight

# Step 11+12 Contras Color für step 1+2

*/
:where(html) {
  /*
  Accent Config
  */
  /* --_gymx-color-accent: var(--gymx-color-accent, color(display-p3 0.843 0.298 0.507)); */
  /* --_gymx-color-accent: light-dark(var(--gymx-color-accent, color(display-p3 0.357 0.357 0.81)), color(display-p3 0.357 0.357 1)); */
  --_gymx-color-accent: var(
    --gymx-color-accent,
    light-dark(
      color(display-p3 0.01096 0.00423 0.32979),
      color(display-p3 0.357 0.357 1)));

  --_gymx-color-accent-dark-mix: var(--gymx-color-accent-dark-mix, color(display-p3 0 0 0));
  --_gymx-color-accent-light-mix: var(--gymx-color-accent-light-mix, color(display-p3 1 1 1));

  /* Accent Light Color Palette */
  --gymx-color-accent-light-1: color-mix(
    in display-p3,
    var(--_gymx-color-accent-light-mix) 95%,
    var(--_gymx-color-accent) 5%
  );
  --gymx-color-accent-light-2: color-mix(
    in display-p3,
    var(--_gymx-color-accent-light-mix) 80%,
    var(--_gymx-color-accent) 10%
  );
  --gymx-color-accent-light-3: color-mix(
    in display-p3,
    var(--_gymx-color-accent-light-mix) 60%,
    var(--_gymx-color-accent) 20%
  );
  --gymx-color-accent-light-4: color-mix(
    in display-p3,
    var(--_gymx-color-accent-light-mix) 50%,
    var(--_gymx-color-accent) 25%
  );
  --gymx-color-accent-light-5: color-mix(
    in display-p3,
    var(--_gymx-color-accent-light-mix) 40%,
    var(--_gymx-color-accent) 35%
  );
  --gymx-color-accent-light-6: color-mix(
    in display-p3,
    var(--_gymx-color-accent-light-mix) 30%,
    var(--_gymx-color-accent) 45%
  );
  --gymx-color-accent-light-7: color-mix(
    in display-p3,
    var(--_gymx-color-accent-light-mix) 20%,
    var(--_gymx-color-accent) 55%
  );
  --gymx-color-accent-light-8: color-mix(
    in display-p3,
    var(--_gymx-color-accent-light-mix) 10%,
    var(--_gymx-color-accent) 70%
  );
  --gymx-color-accent-light-9: var(--_gymx-color-accent);

  /* darken */
  --gymx-color-accent-light-10: color-mix(
    in display-p3,
    var(--_gymx-color-accent-dark-mix) 10%,
    var(--_gymx-color-accent) 90%
  );
  --gymx-color-accent-light-11: color-mix(
    in display-p3,
    var(--_gymx-color-accent-dark-mix) 30%,
    var(--_gymx-color-accent) 90%
  );
  --gymx-color-accent-light-12: color-mix(
    in display-p3,
    var(--_gymx-color-accent-dark-mix),
    var(--_gymx-color-accent) 40%
  );

  /* Accent Dark Color Palette */
  /* --gymx-color-accent-dark-1: color-mix(in display-p3, var(--_gymx-color-accent-dark-mix) 95%, var(--_gymx-color-accent) 5%);
  --gymx-color-accent-dark-2: color-mix(in display-p3, var(--_gymx-color-accent-dark-mix) 80%, var(--_gymx-color-accent) 10%);
  --gymx-color-accent-dark-3: color-mix(in display-p3, var(--_gymx-color-accent-dark-mix) 60%, var(--_gymx-color-accent) 20%);
  --gymx-color-accent-dark-4: color-mix(in display-p3, var(--_gymx-color-accent-dark-mix) 50%, var(--_gymx-color-accent) 25%);
  --gymx-color-accent-dark-5: color-mix(in display-p3, var(--_gymx-color-accent-dark-mix) 40%, var(--_gymx-color-accent) 35%);
  --gymx-color-accent-dark-6: color-mix(in display-p3, var(--_gymx-color-accent-dark-mix) 30%, var(--_gymx-color-accent) 45%);
  --gymx-color-accent-dark-7: color-mix(in display-p3, var(--_gymx-color-accent-dark-mix) 20%, var(--_gymx-color-accent) 55%);
  --gymx-color-accent-dark-8: color-mix(in display-p3, var(--_gymx-color-accent-dark-mix) 10%, var(--_gymx-color-accent) 70%);
  */
  /* Accent Dark Color Palette */
  --gymx-color-accent-dark-1: color-mix(
    in display-p3,
    var(--_gymx-color-accent-dark-mix) 85%,
    var(--_gymx-color-accent) 15%
  );
  --gymx-color-accent-dark-2: color-mix(
    in display-p3,
    var(--_gymx-color-accent-dark-mix) 75%,
    var(--_gymx-color-accent) 25%
  );
  --gymx-color-accent-dark-3: color-mix(
    in display-p3,
    var(--_gymx-color-accent-dark-mix) 65%,
    var(--_gymx-color-accent) 35%
  );
  --gymx-color-accent-dark-4: color-mix(
    in display-p3,
    var(--_gymx-color-accent-dark-mix) 55%,
    var(--_gymx-color-accent) 45%
  );
  --gymx-color-accent-dark-5: color-mix(
    in display-p3,
    var(--_gymx-color-accent-dark-mix) 45%,
    var(--_gymx-color-accent) 55%
  );
  --gymx-color-accent-dark-6: color-mix(
    in display-p3,
    var(--_gymx-color-accent-dark-mix) 35%,
    var(--_gymx-color-accent) 65%
  );
  --gymx-color-accent-dark-7: color-mix(
    in display-p3,
    var(--_gymx-color-accent-dark-mix) 25%,
    var(--_gymx-color-accent) 75%
  );
  --gymx-color-accent-dark-8: color-mix(
    in display-p3,
    var(--_gymx-color-accent-dark-mix) 15%,
    var(--_gymx-color-accent) 85%
  );

  --gymx-color-accent-dark-9: var(--_gymx-color-accent);

  /* lighten */
  --gymx-color-accent-dark-10: color-mix(
    in display-p3,
    var(--_gymx-color-accent-light-mix) 15%,
    var(--_gymx-color-accent) 90%
  );
  --gymx-color-accent-dark-11: color-mix(
    in display-p3,
    var(--_gymx-color-accent-light-mix) 35%,
    var(--_gymx-color-accent) 65%
  );
  --gymx-color-accent-dark-12: color-mix(
    in display-p3,
    var(--_gymx-color-accent-light-mix) 90%,
    var(--_gymx-color-accent) 35%
  );

  /*
  Accent Auto Color Palette
  */
  --gymx-color-accent-1: light-dark(
    var(--gymx-color-accent-light-1),
    var(--gymx-color-accent-dark-1)
  );
  --gymx-color-accent-2: light-dark(
    var(--gymx-color-accent-light-2),
    var(--gymx-color-accent-dark-2)
  );
  --gymx-color-accent-3: light-dark(
    var(--gymx-color-accent-light-3),
    var(--gymx-color-accent-dark-3)
  );
  --gymx-color-accent-4: light-dark(
    var(--gymx-color-accent-light-4),
    var(--gymx-color-accent-dark-4)
  );
  --gymx-color-accent-5: light-dark(
    var(--gymx-color-accent-light-5),
    var(--gymx-color-accent-dark-5)
  );
  --gymx-color-accent-6: light-dark(
    var(--gymx-color-accent-light-6),
    var(--gymx-color-accent-dark-6)
  );
  --gymx-color-accent-7: light-dark(
    var(--gymx-color-accent-light-7),
    var(--gymx-color-accent-dark-7)
  );
  --gymx-color-accent-8: light-dark(
    var(--gymx-color-accent-light-8),
    var(--gymx-color-accent-dark-8)
  );
  --gymx-color-accent-9: light-dark(
    var(--gymx-color-accent-light-9),
    var(--gymx-color-accent-dark-9)
  );
  --gymx-color-accent-10: light-dark(
    var(--gymx-color-accent-light-10),
    var(--gymx-color-accent-dark-10)
  );
  --gymx-color-accent-11: light-dark(
    var(--gymx-color-accent-light-11),
    var(--gymx-color-accent-dark-11)
  );
  --gymx-color-accent-12: light-dark(
    var(--gymx-color-accent-light-12),
    var(--gymx-color-accent-dark-12)
  );
}

:where(html) {
  /**
  Error Text Color #EC5D5E
   */
  --gymx-color-error-text-on-light: #ce2c31;
  --gymx-color-error-text-on-dark: #ff9592;
  --gymx-color-error-text: var(--gymx-color-error-text-on-light);

  /**
  Warning Text Color #FFD60A
   */
  --gymx-color-warning-text-on-light: #ab6400;
  --gymx-color-warning-text-on-dark: #ffca16;
  --gymx-color-warning-text: var(--gymx-color-warning-text-on-light);

  /**
  Success Text Color #33B074
   */
  --gymx-color-success-text-on-light: #218358;
  --gymx-color-success-text-on-dark: #3dd68c;
  --gymx-color-success-text: var(--gymx-color-success-text-on-light);

  /*
  Success Config
  */
  --_gymx-color-success: var(--gymx-color-success, #3dd68c);

  --_gymx-color-success-dark-mix: var(--gymx-color-success-dark-mix, color(display-p3 0 0 0));
  --_gymx-color-success-light-mix: var(--gymx-color-success-light-mix, color(display-p3 1 1 1));

  /* Success Light Color Palette */
  --gymx-color-success-light-1: color-mix(
    in display-p3,
    var(--_gymx-color-success-light-mix) 95%,
    var(--_gymx-color-success) 5%
  );
  --gymx-color-success-light-2: color-mix(
    in display-p3,
    var(--_gymx-color-success-light-mix) 80%,
    var(--_gymx-color-success) 10%
  );
  --gymx-color-success-light-3: color-mix(
    in display-p3,
    var(--_gymx-color-success-light-mix) 60%,
    var(--_gymx-color-success) 20%
  );
  --gymx-color-success-light-4: color-mix(
    in display-p3,
    var(--_gymx-color-success-light-mix) 50%,
    var(--_gymx-color-success) 25%
  );
  --gymx-color-success-light-5: color-mix(
    in display-p3,
    var(--_gymx-color-success-light-mix) 40%,
    var(--_gymx-color-success) 35%
  );
  --gymx-color-success-light-6: color-mix(
    in display-p3,
    var(--_gymx-color-success-light-mix) 30%,
    var(--_gymx-color-success) 45%
  );
  --gymx-color-success-light-7: color-mix(
    in display-p3,
    var(--_gymx-color-success-light-mix) 20%,
    var(--_gymx-color-success) 55%
  );
  --gymx-color-success-light-8: color-mix(
    in display-p3,
    var(--_gymx-color-success-light-mix) 10%,
    var(--_gymx-color-success) 70%
  );
  --gymx-color-success-light-9: var(--_gymx-color-success);

  /* darken */
  --gymx-color-success-light-10: color-mix(
    in display-p3,
    var(--_gymx-color-success-dark-mix) 10%,
    var(--_gymx-color-success) 90%
  );
  --gymx-color-success-light-11: color-mix(
    in display-p3,
    var(--_gymx-color-success-dark-mix) 30%,
    var(--_gymx-color-success) 90%
  );
  --gymx-color-success-light-12: color-mix(
    in display-p3,
    var(--_gymx-color-success-dark-mix),
    var(--_gymx-color-success) 40%
  );

  /* Success Dark Color Palette */
  --gymx-color-success-dark-1: color-mix(
    in display-p3,
    var(--_gymx-color-success-dark-mix) 85%,
    var(--_gymx-color-success) 15%
  );
  --gymx-color-success-dark-2: color-mix(
    in display-p3,
    var(--_gymx-color-success-dark-mix) 75%,
    var(--_gymx-color-success) 25%
  );
  --gymx-color-success-dark-3: color-mix(
    in display-p3,
    var(--_gymx-color-success-dark-mix) 65%,
    var(--_gymx-color-success) 35%
  );
  --gymx-color-success-dark-4: color-mix(
    in display-p3,
    var(--_gymx-color-success-dark-mix) 55%,
    var(--_gymx-color-success) 45%
  );
  --gymx-color-success-dark-5: color-mix(
    in display-p3,
    var(--_gymx-color-success-dark-mix) 45%,
    var(--_gymx-color-success) 55%
  );
  --gymx-color-success-dark-6: color-mix(
    in display-p3,
    var(--_gymx-color-success-dark-mix) 35%,
    var(--_gymx-color-success) 65%
  );
  --gymx-color-success-dark-7: color-mix(
    in display-p3,
    var(--_gymx-color-success-dark-mix) 25%,
    var(--_gymx-color-success) 75%
  );
  --gymx-color-success-dark-8: color-mix(
    in display-p3,
    var(--_gymx-color-success-dark-mix) 15%,
    var(--_gymx-color-success) 85%
  );

  --gymx-color-success-dark-9: var(--_gymx-color-success);

  /* lighten */
  --gymx-color-success-dark-10: color-mix(
    in display-p3,
    var(--_gymx-color-success-light-mix) 15%,
    var(--_gymx-color-success) 90%
  );
  --gymx-color-success-dark-11: color-mix(
    in display-p3,
    var(--_gymx-color-success-light-mix) 35%,
    var(--_gymx-color-success) 65%
  );
  --gymx-color-success-dark-12: color-mix(
    in display-p3,
    var(--_gymx-color-success-light-mix) 90%,
    var(--_gymx-color-success) 35%
  );

  /*
  Success Auto Color Palette
  */
  --gymx-color-success-1: light-dark(
    var(--gymx-color-success-light-1),
    var(--gymx-color-success-dark-1)
  );
  --gymx-color-success-2: light-dark(
    var(--gymx-color-success-light-2),
    var(--gymx-color-success-dark-2)
  );
  --gymx-color-success-3: light-dark(
    var(--gymx-color-success-light-3),
    var(--gymx-color-success-dark-3)
  );
  --gymx-color-success-4: light-dark(
    var(--gymx-color-success-light-4),
    var(--gymx-color-success-dark-4)
  );
  --gymx-color-success-5: light-dark(
    var(--gymx-color-success-light-5),
    var(--gymx-color-success-dark-5)
  );
  --gymx-color-success-6: light-dark(
    var(--gymx-color-success-light-6),
    var(--gymx-color-success-dark-6)
  );
  --gymx-color-success-7: light-dark(
    var(--gymx-color-success-light-7),
    var(--gymx-color-success-dark-7)
  );
  --gymx-color-success-8: light-dark(
    var(--gymx-color-success-light-8),
    var(--gymx-color-success-dark-8)
  );
  --gymx-color-success-9: light-dark(
    var(--gymx-color-success-light-9),
    var(--gymx-color-success-dark-9)
  );
  --gymx-color-success-10: light-dark(
    var(--gymx-color-success-light-10),
    var(--gymx-color-success-dark-10)
  );
  --gymx-color-success-11: light-dark(
    var(--gymx-color-success-light-11),
    var(--gymx-color-success-dark-11)
  );
  --gymx-color-success-12: light-dark(
    var(--gymx-color-success-light-12),
    var(--gymx-color-success-dark-12)
  );

  /*
  Warning Config
  */
  --_gymx-color-warning: var(--gymx-color-warning, #ffca16);

  --_gymx-color-warning-dark-mix: var(--gymx-color-warning-dark-mix, color(display-p3 0 0 0));
  --_gymx-color-warning-light-mix: var(--gymx-color-warning-light-mix, color(display-p3 1 1 1));

  /* Warning Light Color Palette */
  --gymx-color-warning-light-1: color-mix(
    in display-p3,
    var(--_gymx-color-warning-light-mix) 95%,
    var(--_gymx-color-warning) 5%
  );
  --gymx-color-warning-light-2: color-mix(
    in display-p3,
    var(--_gymx-color-warning-light-mix) 80%,
    var(--_gymx-color-warning) 10%
  );
  --gymx-color-warning-light-3: color-mix(
    in display-p3,
    var(--_gymx-color-warning-light-mix) 60%,
    var(--_gymx-color-warning) 20%
  );
  --gymx-color-warning-light-4: color-mix(
    in display-p3,
    var(--_gymx-color-warning-light-mix) 50%,
    var(--_gymx-color-warning) 25%
  );
  --gymx-color-warning-light-5: color-mix(
    in display-p3,
    var(--_gymx-color-warning-light-mix) 40%,
    var(--_gymx-color-warning) 35%
  );
  --gymx-color-warning-light-6: color-mix(
    in display-p3,
    var(--_gymx-color-warning-light-mix) 30%,
    var(--_gymx-color-warning) 45%
  );
  --gymx-color-warning-light-7: color-mix(
    in display-p3,
    var(--_gymx-color-warning-light-mix) 20%,
    var(--_gymx-color-warning) 55%
  );
  --gymx-color-warning-light-8: color-mix(
    in display-p3,
    var(--_gymx-color-warning-light-mix) 10%,
    var(--_gymx-color-warning) 70%
  );
  --gymx-color-warning-light-9: var(--_gymx-color-warning);

  /* darken */
  --gymx-color-warning-light-10: color-mix(
    in display-p3,
    var(--_gymx-color-warning-dark-mix) 10%,
    var(--_gymx-color-warning) 90%
  );
  --gymx-color-warning-light-11: color-mix(
    in display-p3,
    var(--_gymx-color-warning-dark-mix) 30%,
    var(--_gymx-color-warning) 90%
  );
  --gymx-color-warning-light-12: color-mix(
    in display-p3,
    var(--_gymx-color-warning-dark-mix),
    var(--_gymx-color-warning) 40%
  );

  /* Warning Dark Color Palette */
  --gymx-color-warning-dark-1: color-mix(
    in display-p3,
    var(--_gymx-color-warning-dark-mix) 85%,
    var(--_gymx-color-warning) 15%
  );
  --gymx-color-warning-dark-2: color-mix(
    in display-p3,
    var(--_gymx-color-warning-dark-mix) 75%,
    var(--_gymx-color-warning) 25%
  );
  --gymx-color-warning-dark-3: color-mix(
    in display-p3,
    var(--_gymx-color-warning-dark-mix) 65%,
    var(--_gymx-color-warning) 35%
  );
  --gymx-color-warning-dark-4: color-mix(
    in display-p3,
    var(--_gymx-color-warning-dark-mix) 55%,
    var(--_gymx-color-warning) 45%
  );
  --gymx-color-warning-dark-5: color-mix(
    in display-p3,
    var(--_gymx-color-warning-dark-mix) 45%,
    var(--_gymx-color-warning) 55%
  );
  --gymx-color-warning-dark-6: color-mix(
    in display-p3,
    var(--_gymx-color-warning-dark-mix) 35%,
    var(--_gymx-color-warning) 65%
  );
  --gymx-color-warning-dark-7: color-mix(
    in display-p3,
    var(--_gymx-color-warning-dark-mix) 25%,
    var(--_gymx-color-warning) 75%
  );
  --gymx-color-warning-dark-8: color-mix(
    in display-p3,
    var(--_gymx-color-warning-dark-mix) 15%,
    var(--_gymx-color-warning) 85%
  );

  --gymx-color-warning-dark-9: var(--_gymx-color-warning);

  /* lighten */
  --gymx-color-warning-dark-10: color-mix(
    in display-p3,
    var(--_gymx-color-warning-light-mix) 15%,
    var(--_gymx-color-warning) 90%
  );
  --gymx-color-warning-dark-11: color-mix(
    in display-p3,
    var(--_gymx-color-warning-light-mix) 35%,
    var(--_gymx-color-warning) 65%
  );
  --gymx-color-warning-dark-12: color-mix(
    in display-p3,
    var(--_gymx-color-warning-light-mix) 90%,
    var(--_gymx-color-warning) 35%
  );

  /*
  Warning Auto Color Palette
  */
  --gymx-color-warning-1: light-dark(
    var(--gymx-color-warning-light-1),
    var(--gymx-color-warning-dark-1)
  );
  --gymx-color-warning-2: light-dark(
    var(--gymx-color-warning-light-2),
    var(--gymx-color-warning-dark-2)
  );
  --gymx-color-warning-3: light-dark(
    var(--gymx-color-warning-light-3),
    var(--gymx-color-warning-dark-3)
  );
  --gymx-color-warning-4: light-dark(
    var(--gymx-color-warning-light-4),
    var(--gymx-color-warning-dark-4)
  );
  --gymx-color-warning-5: light-dark(
    var(--gymx-color-warning-light-5),
    var(--gymx-color-warning-dark-5)
  );
  --gymx-color-warning-6: light-dark(
    var(--gymx-color-warning-light-6),
    var(--gymx-color-warning-dark-6)
  );
  --gymx-color-warning-7: light-dark(
    var(--gymx-color-warning-light-7),
    var(--gymx-color-warning-dark-7)
  );
  --gymx-color-warning-8: light-dark(
    var(--gymx-color-warning-light-8),
    var(--gymx-color-warning-dark-8)
  );
  --gymx-color-warning-9: light-dark(
    var(--gymx-color-warning-light-9),
    var(--gymx-color-warning-dark-9)
  );
  --gymx-color-warning-10: light-dark(
    var(--gymx-color-warning-light-10),
    var(--gymx-color-warning-dark-10)
  );
  --gymx-color-warning-11: light-dark(
    var(--gymx-color-warning-light-11),
    var(--gymx-color-warning-dark-11)
  );
  --gymx-color-warning-12: light-dark(
    var(--gymx-color-warning-light-12),
    var(--gymx-color-warning-dark-12)
  );

  /*
  Error Config
  */
  --_gymx-color-error: var(--gymx-color-error, #ce2c31);

  --_gymx-color-error-dark-mix: var(--gymx-color-error-dark-mix, color(display-p3 0 0 0));
  --_gymx-color-error-light-mix: var(--gymx-color-error-light-mix, color(display-p3 1 1 1));

  /* Error Light Color Palette */
  --gymx-color-error-light-1: color-mix(
    in display-p3,
    var(--_gymx-color-error-light-mix) 95%,
    var(--_gymx-color-error) 5%
  );
  --gymx-color-error-light-2: color-mix(
    in display-p3,
    var(--_gymx-color-error-light-mix) 80%,
    var(--_gymx-color-error) 10%
  );
  --gymx-color-error-light-3: color-mix(
    in display-p3,
    var(--_gymx-color-error-light-mix) 60%,
    var(--_gymx-color-error) 20%
  );
  --gymx-color-error-light-4: color-mix(
    in display-p3,
    var(--_gymx-color-error-light-mix) 50%,
    var(--_gymx-color-error) 25%
  );
  --gymx-color-error-light-5: color-mix(
    in display-p3,
    var(--_gymx-color-error-light-mix) 40%,
    var(--_gymx-color-error) 35%
  );
  --gymx-color-error-light-6: color-mix(
    in display-p3,
    var(--_gymx-color-error-light-mix) 30%,
    var(--_gymx-color-error) 45%
  );
  --gymx-color-error-light-7: color-mix(
    in display-p3,
    var(--_gymx-color-error-light-mix) 20%,
    var(--_gymx-color-error) 55%
  );
  --gymx-color-error-light-8: color-mix(
    in display-p3,
    var(--_gymx-color-error-light-mix) 10%,
    var(--_gymx-color-error) 70%
  );
  --gymx-color-error-light-9: var(--_gymx-color-error);

  /* darken */
  --gymx-color-error-light-10: color-mix(
    in display-p3,
    var(--_gymx-color-error-dark-mix) 10%,
    var(--_gymx-color-error) 90%
  );
  --gymx-color-error-light-11: color-mix(
    in display-p3,
    var(--_gymx-color-error-dark-mix) 30%,
    var(--_gymx-color-error) 90%
  );
  --gymx-color-error-light-12: color-mix(
    in display-p3,
    var(--_gymx-color-error-dark-mix),
    var(--_gymx-color-error) 40%
  );

  /* Error Dark Color Palette */
  --gymx-color-error-dark-1: color-mix(
    in display-p3,
    var(--_gymx-color-error-dark-mix) 85%,
    var(--_gymx-color-error) 15%
  );
  --gymx-color-error-dark-2: color-mix(
    in display-p3,
    var(--_gymx-color-error-dark-mix) 75%,
    var(--_gymx-color-error) 25%
  );
  --gymx-color-error-dark-3: color-mix(
    in display-p3,
    var(--_gymx-color-error-dark-mix) 65%,
    var(--_gymx-color-error) 35%
  );
  --gymx-color-error-dark-4: color-mix(
    in display-p3,
    var(--_gymx-color-error-dark-mix) 55%,
    var(--_gymx-color-error) 45%
  );
  --gymx-color-error-dark-5: color-mix(
    in display-p3,
    var(--_gymx-color-error-dark-mix) 45%,
    var(--_gymx-color-error) 55%
  );
  --gymx-color-error-dark-6: color-mix(
    in display-p3,
    var(--_gymx-color-error-dark-mix) 35%,
    var(--_gymx-color-error) 65%
  );
  --gymx-color-error-dark-7: color-mix(
    in display-p3,
    var(--_gymx-color-error-dark-mix) 25%,
    var(--_gymx-color-error) 75%
  );
  --gymx-color-error-dark-8: color-mix(
    in display-p3,
    var(--_gymx-color-error-dark-mix) 15%,
    var(--_gymx-color-error) 85%
  );

  --gymx-color-error-dark-9: var(--_gymx-color-error);

  /* lighten */
  --gymx-color-error-dark-10: color-mix(
    in display-p3,
    var(--_gymx-color-error-light-mix) 15%,
    var(--_gymx-color-error) 90%
  );
  --gymx-color-error-dark-11: color-mix(
    in display-p3,
    var(--_gymx-color-error-light-mix) 35%,
    var(--_gymx-color-error) 65%
  );
  --gymx-color-error-dark-12: color-mix(
    in display-p3,
    var(--_gymx-color-error-light-mix) 90%,
    var(--_gymx-color-error) 35%
  );

  /*
  Error Auto Color Palette
  */
  --gymx-color-error-1: light-dark(var(--gymx-color-error-light-1), var(--gymx-color-error-dark-1));
  --gymx-color-error-2: light-dark(var(--gymx-color-error-light-2), var(--gymx-color-error-dark-2));
  --gymx-color-error-3: light-dark(var(--gymx-color-error-light-3), var(--gymx-color-error-dark-3));
  --gymx-color-error-4: light-dark(var(--gymx-color-error-light-4), var(--gymx-color-error-dark-4));
  --gymx-color-error-5: light-dark(var(--gymx-color-error-light-5), var(--gymx-color-error-dark-5));
  --gymx-color-error-6: light-dark(var(--gymx-color-error-light-6), var(--gymx-color-error-dark-6));
  --gymx-color-error-7: light-dark(var(--gymx-color-error-light-7), var(--gymx-color-error-dark-7));
  --gymx-color-error-8: light-dark(var(--gymx-color-error-light-8), var(--gymx-color-error-dark-8));
  --gymx-color-error-9: light-dark(var(--gymx-color-error-light-9), var(--gymx-color-error-dark-9));
  --gymx-color-error-10: light-dark(
    var(--gymx-color-error-light-10),
    var(--gymx-color-error-dark-10)
  );
  --gymx-color-error-11: light-dark(
    var(--gymx-color-error-light-11),
    var(--gymx-color-error-dark-11)
  );
  --gymx-color-error-12: light-dark(
    var(--gymx-color-error-light-12),
    var(--gymx-color-error-dark-12)
  );
}
