:where(html) {
  --gymx-size-0000: 0.125rem;
  --gymx-size-000: 0.25rem;
  --gymx-size-00: 0.5rem;
  --gymx-size-0: 0.75rem;
  --gymx-size-1: 1rem;
  --gymx-size-2: 1.5rem;
  --gymx-size-3: 2rem;
  --gymx-size-4: 2.5rem;
  --gymx-size-5: 3rem;
  --gymx-size-6: 4rem;
  --gymx-size-7: 5rem;
  --gymx-size-8: 6rem;
  --gymx-size-9: 10rem;

  --gymx-size-fluid-0: clamp(var(--gymx-size-0), 1vw, var(--gymx-size-1));
  --gymx-size-fluid-1: clamp(var(--gymx-size-1), 2vw, var(--gymx-size-3));
  --gymx-size-fluid-2: clamp(var(--gymx-size-3), 3vw, var(--gymx-size-5));
  --gymx-size-fluid-3: clamp(var(--gymx-size-5), 4vw, var(--gymx-size-6));
  --gymx-size-fluid-4: clamp(var(--gymx-size-7), 5vw, var(--gymx-size-8));
  --gymx-size-fluid-5: clamp(var(--gymx-size-8), 7vw, var(--gymx-size-9));
}
