/**
 This file contains all the theme styles for the FitX theme.
 */
@forward 'colors';
@forward 'fonts';
@forward 'badges';
@forward 'buttons';
@forward 'chips';
@forward 'dialog';
@forward 'links';
@forward 'forms';
@forward 'tables';
@forward 'tabs';
@forward 'toggle-switch';

[data-theme='fitx-light'] {
  color-scheme: light;
}
[data-theme='fitx-dark'] {
  color-scheme: dark;
}

[data-theme='fitx-light'],
[data-theme='fitx-dark'] {
  --gymx-color-accent: var(--color-primary-brand-orange);
  --gymx-color-primary: var(--gymx-color-accent);
  --gymx-color-text: light-dark(var(--color-brand-anthracite-0), var(--color-brand-white-0));
  --gymx-font-family-default: var(--fitx-font-stack-normal);

  --app-color-background: light-dark(var(--color-brand-white-0), var(--color-brand-anthracite-0));
  --app-color: var(--gymx-color-text);
  --app-font-size: var(--gymx-font-size-default);
  --app-font-weight: var(--gymx-font-weight-default);
}
