/**
 * This File contains all imports from tokens and themes
 */
@import 'normalize.css';
/**
 (Internal) Tokens
 */
@import 'tokens/index.css';
/**
 * Semantic Tokens
 */
@import 'semantic.css';
@import 'ui/table.css';
/**
 * Theme specific
 * @DEPRECATED since version: 0.54.0.
 * alternative usage: import '@fitx/gymx-ui/theme.css';
 */
/* @import 'theme.css'; */

:where(html) {
  /* --input-color-border-hover: green; */
  color-scheme: dark light;
  font-family: var(--gymx-font-family-default), sans-serif;
  font-size: var(--gymx-font-size-default);
  font-weight: var(--gymx-font-weight-default);

  --gymx-color-primary: var(--gymx-color-accent); /* #00328a; */
  --gymx-color-text: #222;
  --accent-color: var(--gymx-color-accent); /* #00328a; */
}
