/**
 Theme <3 Gymx Ui
 */
:where(html) {
  color-scheme: dark light;
  font-family: var(--gymx-font-family-default), sans-serif;
  font-size: var(--gymx-font-size-default);
  font-weight: var(--gymx-font-weight-default);
}
:where(html) {
  color-scheme: light;
  /*
  Colors
  */
  --gymx-color-primary: var(--gymx-color-accent); /* #00328a; */
  --gymx-color-on-primary: var(--gymx-color-white-12);
  --gymx-color-text: #222;
  --gymx-color-accent: var(--gymx-color-accent); /* #00328a; */

  /**
  Links
   */
  --gymx-link-color: var(--gymx-color-accent);
  --gymx-link-color-hover: oklch(from var(--gymx-link-color) calc(l * 0.8) c h);
  --gymx-link-color-focused: oklch(from var(--gymx-link-color) calc(l * 0.6) c h);
}

:where([data-theme='dark']) {
  color-scheme: dark;

  /* --gymx-color-accent: color(display-p3 0.01096 0.00423 0.32979); */

  --gymx-input-color-disabled: var(--gymx-color-white-6);
  --gymx-input-color-border: var(--gymx-color-white-6);
  --gymx-input-color-border-hover: var(--gymx-color-white-7);
  --gymx-input-color-border-disabled: var(--gymx-color-white-2);
  --gymx-input-color-background-disabled: var(--gymx-color-white-1);

  --select-color-disabled: var(--gymx-color-white-6);
  --select-color-border: var(--gymx-color-white-6);
  --select-color-border-hover: var(--gymx-color-white-7);
  --select-color-border-disabled: var(--gymx-color-white-2);
  --select-color-background-disabled: var(--gymx-color-white-1);

  --gymx-color-error-text: var(--gymx-color-error-text-on-dark);
  --gymx-color-text: #fefefe;
  --gymx-color-accent: #9eb1ff;
  --gymx-link-color: var(--gymx-color-accent);

  --gymx-link-color-hover: oklch(from var(--gymx-link-color) calc(l * 1.1) c h);
  --gymx-link-color-focused: oklch(from var(--gymx-link-color) calc(l * 1.2) c h);
}
